@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #006366ef;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: rgba(152, 226, 226, 0.842);
    border-radius: 15px;
    box-shadow: 0 5px 15px;
    width: 460px;
}
h1{
    color: floralwhite;
    text-align: center;
    margin: 0 0 35px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    color: rgb(255, 251, 242);
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid floralwhite;
    border-radius: 5px;
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 12px;
}
.form-control input:focus{
    outline: 0;
    border-color: #006366ef;
}
